<div class="banner">
</div>

<h1 class="text-center">Cocktail Selection</h1>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= image_path(cocktail.photo) %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail), class:"card-description" %><br>
      </div>
    </div>
    <% end %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" id="card-create" style="background-color: #DCDCDC">
        <%= link_to new_cocktail_path do %>
        <i class="far fa-plus-square"></i>
        <% end %>
      </div>
    </div>
</div>

